In [10]:
%who

Interactive namespace is empty.

# Reviews Data Prep

In [11]:
!ls -lS

total 24502272
-rw-r--r--  1 Bhill  staff  5347475638 Nov 15  2018 review.json
-rw-r--r--@ 1 Bhill  staff  3852588272 Jul 10 22:24 yelp_dataset.tar
-rw-r--r--  1 Bhill  staff  2485747393 Nov 15  2018 user.json
-rw-r--r--  1 Bhill  staff   408807658 Nov 15  2018 checkin.json
-rw-r--r--  1 Bhill  staff   244535478 Nov 15  2018 tip.json
-rw-r--r--  1 Bhill  staff   138279749 Nov 15  2018 business.json
-rw-r--r--  1 Bhill  staff    25661152 Jan 11  2019 photo.json
-rw-r--r--  1 Bhill  staff       13550 Aug  2 22:34 1.Data_Preparation.ipynb
-rw-r--r--  1 Bhill  staff        4761 Aug  2 22:27 0.Code_Plan_for_Yelp-NLP.ipynb
-rw-r--r--  1 Bhill  staff         977 Aug  2 22:26 1_Data_Prep.py
-rw-r--r--  1 Bhill  staff         555 Aug  2 22:34 2.Data_Exploration.ipynb
-rw-r--r--  1 Bhill  staff          15 Aug  2 22:21 requirements.txt

### line/review count : 6685900 reviews
4 seconds

In [12]:
%time !wc -l review.json

 6685900 review.json
CPU times: user 32.2 ms, sys: 15.3 ms, total: 47.5 ms
Wall time: 3.78 s

### test if each line is a view : confirmed 
6 seconds

In [13]:
%%time 

count = 0
with open('review.json', 'r') as review:
    for line in review:
        if not line.startswith('{'):
            count += 1
print(count)
del count

0
CPU times: user 4.6 s, sys: 942 ms, total: 5.54 s
Wall time: 5.55 s

### pandas import

10 seconds

In [14]:
REVIEWS_TO_INGEST = 1000
data_list = list()
columns = ['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny', 'cool', 'text', 'date']

# inspired by https://thedatafrog.com/text-mining-pandas-yelp/
with open('review.json') as reviews:
    import json
    for i, line in enumerate(reviews):

        if i == REVIEWS_TO_INGEST:
            break

            # convert json line to di t
        data = json.loads(line)
        data_list.append([data['review_id'],
                          data['user_id'],
                          data['business_id'],
                          data['stars'],
                          data['useful'],
                          data['funny'],
                          data['cool'],
                          data['text'],
                          data['date']])

reviews.close()
del reviews, i, line, data, REVIEWS_TO_INGEST, json, review
###
import pandas
df = pandas.DataFrame(data_list, columns=columns)
del data_list, columns, pandas

%who

df

In [15]:
df.head(3)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,Q1sbwvVQXV2734tPgoKj4Q,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1.0,6,1,0,Total bill for this horrible service? Over $8G...,2013-05-07 04:34:36
1,GJXCdrto3ASJOqKeVWPi6Q,yXQM5uF2jS6es16SJzNHfg,NZnhc2sEQy3RmzKTZnqtwQ,5.0,0,0,0,I *adore* Travis at the Hard Rock's new Kelly ...,2017-01-14 21:30:33
2,2TzJjDVDEuAW6MR5Vuc1ug,n6-Gk65cPZL6Uz8qRm3NYw,WTqjgwHlXbSFevF32_DJVw,5.0,3,0,0,I have to say that this office really has it t...,2016-11-09 20:09:03

### univariate stats

In [16]:
df.describe()

             stars       useful        funny         cool
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      3.654000     1.271000     0.452000     0.524000
std       1.469845     2.380594     1.268584     1.384681
min       1.000000     0.000000     0.000000     0.000000
25%       3.000000     0.000000     0.000000     0.000000
50%       4.000000     0.000000     0.000000     0.000000
75%       5.000000     1.000000     0.000000     1.000000
max       5.000000    23.000000    14.000000    15.000000

### meta data

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
review_id      1000 non-null object
user_id        1000 non-null object
business_id    1000 non-null object
stars          1000 non-null float64
useful         1000 non-null int64
funny          1000 non-null int64
cool           1000 non-null int64
text           1000 non-null object
date           1000 non-null object
dtypes: float64(1), int64(3), object(5)
memory usage: 70.4+ KB

### store for next notebook & del

In [20]:
%store df
df.to_hdf('reviews.h5', key='df', mode='w')
del df
%who

Stored 'df' (DataFrame)
Interactive namespace is empty.

In [21]:
!ls

0.Code_Plan_for_Yelp-NLP.ipynb requirements.txt
1.Data_Preparation.ipynb       review.json
1_Data_Prep.py                 reviews.h5
2.Data_Exploration.ipynb       tip.json
business.json                  user.json
checkin.json                   yelp_dataset.tar
photo.json